.user-avatar {
    width: 70px;  /* Ширина аватара */
    height: 70px; /* Высота аватара */
    overflow: hidden; /* Скрывает часть изображения, выходящую за пределы */
    border-radius: 50%; /* Закругление краев */
    display: flex; /* Центрирование содержимого */
    justify-content: center; /* Центрирование содержимого по горизонтали */
    align-items: center; /* Центрирование содержимого по вертикали */
    background-color: #f0f0f0; /* Цвет фона, если изображение не загружено */
    margin: 10px;
  }
  
  .avatar {
    width: 100%; /* Авто подгонка по ширине контейнера */
    height: auto; /* Авто подгонка по высоте, сохраняет пропорции */
  }